{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Issue Tracker{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@3.5.5/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.5/dist/vuetify.min.js"></script>
    
</head>
<body>
    <div id="app">
        <v-layout ref="app" class="rounded rounded-md">    
{% block content %}{% endblock  %}
    <v-bottom-navigation grow>
        <v-btn value="recent">
          <v-icon>mdi-history</v-icon>
      
          <span>Recent</span>
        </v-btn>
      
        <v-btn value="favorites">
          <v-icon>mdi-heart</v-icon>
      
          <span>Favorites</span>
        </v-btn>
      
        <v-btn value="nearby">
          <v-icon>mdi-map-marker</v-icon>
      
          <span>Nearby</span>
        </v-btn>
      </v-bottom-navigation>
    </v-layout>
</div>
</body>
<script>
    const { createApp } = Vue
    const { createVuetify } = Vuetify
    
    const vuetify = createVuetify()
    
    const app = createApp()
    app.use(vuetify).mount('#app')
    
  </script>
</html>