{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Issue Tracker{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@3.5.5/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.5/dist/vuetify.min.js"></script>
    
</head>
<body>
{% block content %}{% endblock  %}
</body>
</html>