<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Zmiana hasła</h2>
            <form class="max-w-sm mx-auto" method="post" id="changePasswordForm">
                {% csrf_token %}
                <label for="old_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current
                    password</label>
                <div class="flex mb-3">
    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
           fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7c0-1.1.9-2 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6c.6 0 1 .4 1 1v3a1 1 0 1 1-2 0v-3c0-.6.4-1 1-1Z"
              clip-rule="evenodd"/>
      </svg>
    </span>
                    <input type="password" id="old_password" name="old_password"
                           class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                </div>

                <label for="new_password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                    password</label>
                <div class="flex mb-3">
    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
           fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7c0-1.1.9-2 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6c.6 0 1 .4 1 1v3a1 1 0 1 1-2 0v-3c0-.6.4-1 1-1Z"
              clip-rule="evenodd"/>
      </svg>
    </span>
                    <input type="password" id="new_password1" name="new_password1"
                           class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                </div>

                <label for="new_password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                    new password</label>
                <div class="flex mb-3">
    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
           fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7c0-1.1.9-2 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6c.6 0 1 .4 1 1v3a1 1 0 1 1-2 0v-3c0-.6.4-1 1-1Z"
              clip-rule="evenodd"/>
      </svg>
    </span>
                    <input type="password" id="new_password2" name="new_password2"
                           class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                </div>
                <div class="flex mb-3">
                    <button type="submit"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Submit
                    </button>

                </div>
            </form>
        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Notifications</h2>
            <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                 role="alert">
                <span class="font-medium">Info alert!</span> Here you can decide which ways you'll get notifications.
            </div>


            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Channel
                        </th>
                        <th scope="col" class="px-6 py-3">
                            enable/disable
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">
                            E-mail
                            <input type="hidden" name="mail_notifications_value" id="email_notifications_value"
                                   value="{{settings.mail_notifications}}"/>

                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-start mb-5">
                                <div class="flex items-center h-5">
                                    <input id="email_notifications" type="checkbox" value="0" name="mail_notifications"
                                           class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                    />
                                </div>
                                <label for="email_notifications"
                                       class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
                            </div>
                        </td>

                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                        <td class="px-6 py-4">
                            Notifications(in-app)
                            <input type="hidden" name="app_notifications_value" id="app_notifications_value"
                                   value="{{settings.app_notifications}}"/>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-start mb-5">
                                <div class="flex items-center h-5">
                                    <input id="app_notifications" type="checkbox" value="0" name="app_notifications"
                                           class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                    />
                                </div>
                                <label for="app_notifications"
                                       class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<script>
    $('#changePasswordForm').on('submit', function (e) {
      e.preventDefault()
      var formData = new FormData(this)
      console.log(formData)
      $.ajax({
        url: '/api/change_password',
        data: formData,
        method: 'POST',
        processData: false,
        contentType: false,
        success: function (message) {
          console.log(message)
          Swal.fire({
            title: 'Success',
            html: message.success,
            icon: 'success',
            confirmButtonText: 'OK'

          }).then((result) => {
              if (result.isConfirmed) {
                  window.location.href = '/logout/';

              }
            });

        },
        error: function (response) {
          var errorResponse = JSON.parse(response.responseText)
          var errors = errorResponse.errors;
          console.log(errors)
          var errorMessage = ''
          if (errors) {
            for (var field in errors) {
              errorMessage += '<strong>' + field + ':</strong><br>'
              errors[field].forEach(function (error) {
                errorMessage += error + '<br>'
              })
              errorMessage += '<br>'
            }
          } else {
            errorMessage = 'Wystąpił nieoczekiwany błąd.'
          }
          Swal.fire({
            icon: 'error',
            title: 'Oops',
            html: errorMessage,
            confirmButtonText: 'OK'
          })
        }
      })
    })
        var app_notifications_value = $("#app_notifications_value").val();
    var mail_notifications_value = $("#email_notifications_value").val();
    if (app_notifications_value == 0)
    {
        $("#app_notifications").prop('checked',false)
    } else if(app_notifications_value == 1)
    {
        $("#app_notifications").prop('checked',true)
    }
    if (mail_notifications_value == 0)
    {
        $("#app_notifications").prop('checked',false)
    } else if(mail_notifications_value == 1)
    {
        $("#app_notifications").prop('checked',true)
    }


$("#app_notifications").on('click',function() {
    const app_cb = document.querySelector('#app_notifications');
    const app_checked = app_cb.checked;
    if (app_checked){
        app_cb.value = "1"
    }
    else {
        app_cb.value = "0"
    }
    $.ajax({
        url: '/api/user_notifications',
        data: {"app_notifications": app_cb.value},
        success: function(message)
        {
            Swal.fire({
                title: "Sukces",
                html: message,
                icon: "success"
              });
        }
    })

})
$("#email_notifications").on('click',function() {
    const cb = document.querySelector('#email_notifications');
    const cb_checked = cb.checked;
    if (cb_checked){
        cb.value = "1"
    }
    else {
        cb.value = "0"
    }
    $.ajax({
        url: '/api/user_notifications',
        data: {"mail_notifications": cb.value},
        success: function(message)
        {
            Swal.fire({
                title: "Sukces",
                html: message,
                icon: "success"
              });

        }
    })

})
</script>

